
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page {
    background: linear-gradient(rgb(30, 136, 224), rgb(72, 225, 72), rgb(173, 125, 173));
    height: 100vh;
    display: flex;
}

.container {
    border: 1px solid black;
    width: 60%;
    position: relative;
    text-align: center;
    left: 280px;
    top: 200px;
    height: 400px;
}

.input {
    margin-bottom: 40px;
}

.input input {
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
}


h1 {
    margin: 30px 150px;
    width: 600px;
}

.btn {
    margin: 20px 150px;
}

.btn button:hover {
    cursor: pointer;
}

input {
    width: 200px;
    height: 20px;
}

.btn button {
    width: max-content;
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(89, 83, 83);
    color: white;
    font-size: 15px;
}

#result {
    margin: 30px 150px;
    background: transparent;
    height: 20px;
    width: 500px;
    margin-left: 190px;
    border: none;
}

@media screen and (max-width:500px) {


    #page .container h1 {
        color: rgb(9, 9, 9);
        font-size: 15px;
        position: relative;
        left: -320px;
    }

    #page {

        height: 100vh;
        display: flex;
        width: 100%;
        border: 2px solid red;
    }

    .container {
        border: 1px solid black;
        width: 80%;
        position: relative;
        text-align: center;
        left: 35px;
        top: 20px;
        height: 400px;
    }

    .input {
        margin-bottom: 40px;
    }

    .input input {
        width: 200px;
        height: 0px;
        background: transparent;
        border: 2px solid white;
        padding: 20px;
        border-radius: 20px;
        font-size: 18px;
    }

    .btn {
        margin: 20px 0px;
    }

    .btn button:hover {
        cursor: pointer;
    }

    .btn button {
        width: max-content;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: rgb(89, 83, 83);
        color: white;
        font-size: 12px;
    }

    #result {
        background: transparent;
        height: 20px;
        width: 500px;
        margin-left: -120px;
        border: none;
    }
}
